In [1]:
#Create a DataFrame
import pandas as pd
import numpy as np
d1=pd.DataFrame({'one':[0,4,8],'two':[1,5,9],'three':[2,6,10],'four':[3,7,11]},index=['Ohio','Colarado','New York'])
print(d1)

          one  two  three  four
Ohio        0    1      2     3
Colarado    4    5      6     7
New York    8    9     10    11

In [2]:
#Add columns
duplicate=pd.Series([5,7,9],index=['Ohio','Colarado','New York'])
d1['duplicate1']=duplicate
d1['duplicate2']=duplicate
d1

          one  two  three  four  duplicate1  duplicate2
Ohio        0    1      2     3           5           5
Colarado    4    5      6     7           7           7
New York    8    9     10    11           9           9

In [3]:
#Drop New York from DataFrame
DF3=d1.drop("New York")
DF3

          one  two  three  four  duplicate1  duplicate2
Ohio        0    1      2     3           5           5
Colarado    4    5      6     7           7           7

In [4]:
#Create HTML file
import pandas as pd
import numpy as np
df=pd.DataFrame({'one':[0,4,8],'two':[1,5,9],'three':[2,6,10],'four':[3,7,11]},index=['Ohio','Colarado','New York'])
print(df)
df_html=df.to_html('new_file.html')
df_html

          one  two  three  four
Ohio        0    1      2     3
Colarado    4    5      6     7
New York    8    9     10    11

In [5]:
#Read HTML
read_file=pd.read_html('new_file.html')
read_file

[  Unnamed: 0  one  two  three  four
 0       Ohio    0    1      2     3
 1   Colarado    4    5      6     7
 2   New York    8    9     10    11]