In [1]:
import pandas as pd
initial_d = {'First_name': ['Ben', 'Riyan', 'Ricky', 'Tarun', 'Maddy'],
             'Last_name': ['L', 'P', 'TP', 'Raj', 'R'],
             'Age': [17, 20, 19, 21, 18],
             'City': ['Chennai', 'Banglore', 'Lonavala', 'Delhi', 'Patna']}

df = pd.DataFrame(initial_d, columns = ['First_name', 'Last_name','Age', 'City'])

In [2]:
#1.) Mapping external values to dataframe values in Pandas.

# Create new column using dictionary
new_data = { "Ben":"12th","Riyan":"B.Com","Ricky":"B.Arch","Tarun":"B.Tech","Maddy":"B.Des" }

# combine this new data with existing DataFrame
df["Qualification"] = df["First_name"].map(new_data)

print(df)

  First_name Last_name  Age      City Qualification
0        Ben         L   17   Chennai          12th
1      Riyan         P   20  Banglore         B.Com
2      Ricky        TP   19  Lonavala        B.Arch
3      Tarun       Raj   21     Delhi        B.Tech
4      Maddy         R   18     Patna         B.Des

In [3]:
#2.) Drop rows from the dataframe based on certain condition applied on a column.
df = df.drop(df[df.Qualification == 'B.Des'].index)
df

  First_name Last_name  Age      City Qualification
0        Ben         L   17   Chennai          12th
1      Riyan         P   20  Banglore         B.Com
2      Ricky        TP   19  Lonavala        B.Arch
3      Tarun       Raj   21     Delhi        B.Tech

In [4]:
#3.) Select row with maximum and minimum value in Pandas dataframe
print(df.max())
print("----------------------------")
print(df.min())

First_name          Tarun
Last_name              TP
Age                    21
City             Lonavala
Qualification      B.Tech
dtype: object
----------------------------
First_name            Ben
Last_name               L
Age                    17
City             Banglore
Qualification        12th
dtype: object

In [5]:
#4.) Conditional operation on Pandas DataFrame columns
# importing pandas as pd
import pandas as pd
  
# Create the dataframe
df = pd.DataFrame({'Date':['10/2/2011', '11/2/2011', '12/2/2011', '13/2/2011'],
                   'Product':['Umbrella', 'Matress', 'Badminton', 'Shuttle'],
                   'Last Price':[1200, 1500, 1600, 352],
                   'Updated Price':[1250, 1450, 1550, 400],
                   'Discount':[10, 10, 10, 10]})
  
# Print the dataframe
print(df)

        Date    Product  Last Price  Updated Price  Discount
0  10/2/2011   Umbrella        1200           1250        10
1  11/2/2011    Matress        1500           1450        10
2  12/2/2011  Badminton        1600           1550        10
3  13/2/2011    Shuttle         352            400        10

In [6]:
#4.) Conditional operation on Pandas DataFrame columns
# Check if the updated price is available or not
if 'Updated Price' in df.columns:
    df['Final cost'] = df['Updated Price'] - (df['Updated Price']*0.1)
  
else :
    df['Final cost'] = df['Last Price'] - (df['Last Price']*0.1)
  
# Print the Dataframe
print(df)

        Date    Product  Last Price  Updated Price  Discount  Final cost
0  10/2/2011   Umbrella        1200           1250        10      1125.0
1  11/2/2011    Matress        1500           1450        10      1305.0
2  12/2/2011  Badminton        1600           1550        10      1395.0
3  13/2/2011    Shuttle         352            400        10       360.0

In [7]:
#5.) Using dictionary to remap values in Pandas DataFrame columns
dict = {17 : 25, 20: 25, 19 : 25, 21: 25}
df3=df.replace({"Age": dict})
print(df3)

        Date    Product  Last Price  Updated Price  Discount  Final cost
0  10/2/2011   Umbrella        1200           1250        10      1125.0
1  11/2/2011    Matress        1500           1450        10      1305.0
2  12/2/2011  Badminton        1600           1550        10      1395.0
3  13/2/2011    Shuttle         352            400        10       360.0