In [1]:
#1. For the given text save as .txt. and read the file.
import pandas as pd
a=pd.read_table('lab9.txt',sep=" ")
a

   White  red  blue  green animal
0      1    5     2      3    cat
1      2    7     8      5    dog
2      3    3     6      7  horse
3      2    2     8      3   duck
4      4    4     2      1  mouse

In [2]:
#2. Create the DataFrame and write the DataFrame as .csv file.
cols=list(a.columns)
x={"White":[1,2,3,2,4],"red":[5,7,3,2,4],"blue":[2,8,6,8,2],"green":[3,5,7,3,1],"animal":["cat","dog","horse","duck","mouse"]}
y=pd.DataFrame(x,columns=["White","red","blue","green","animal"])
y
d1=y.to_csv('lab9.1.csv',sep=" ")

In [3]:
#3. Install the HTML ,Create the dataframe and write as html , XML file and read the html, XMLfile.
#writing html
frame=a
print(frame.to_html())

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>White</th>
      <th>red</th>
      <th>blue</th>
      <th>green</th>
      <th>animal</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>5</td>
      <td>2</td>
      <td>3</td>
      <td>cat</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>7</td>
      <td>8</td>
      <td>5</td>
      <td>dog</td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>3</td>
      <td>6</td>
      <td>7</td>
      <td>horse</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>2</td>
      <td>8</td>
      <td>3</td>
      <td>duck</td>
    </tr>
    <tr>
      <th>4</th>
      <td>4</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>mouse</td>
    </tr>
  </tbody>
</table>

In [4]:
#reading html
s=['<HTML>']
s.append('<HEAD><TITLE>My DataFrame</TITLE></HEAD>')
s.append('<BODY>')
s.append(frame.to_html())
s.append('</BODY></HTML>')
html="".join(s)
html_file=open('myFrame.html','w')
html_file.write(html)
html_file.close()